body {
  background-image: url(hero-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar a {
  margin: 20% 0px 20% 0px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: grid;
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-style:solid;
}


.main-section {
  padding: 20px 0px 20px 140px;
  font-size: 30px;
  text-align: center;
  color: (151, 151, 151);
}

#navbar header {
  font-size: 35px;
}

#header {
  font-size: 40px;
  font-family:fantasy;
}

ul {
  display: table;
  margin: 0 auto;
}

@media screen and (max-width:600px) {  
#navbar  {
  background-color: cadetblue;
  float: left;
  position: fixed;
  width: 130px;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  padding-bottom: 100%;
}}

@media screen and (min-width:600px) {  
#navbar  {
  background-color: rgb(111, 134, 125);
  float: left;
  position: fixed;
  width: 130px;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  padding-bottom: 100%;
}}