
#navbar  {
  background-color: cadetblue;
  float: left;
  position: fixed;
  width: 130px;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: rgb(168, 54, 54);
  overflow-x: hidden;
  padding: 0px 0px 100% 0px;
}

.main-section {
  padding: 0px 0px 0px 140px;
}

.nav-link {
  padding: 10px 0px 0px 0px;
}

@media 