#navbar {
    overflow: hidden;
    background-color: rgb(99, 182, 221);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
  }

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

#LeBron_James {
    padding: 100px 0px 0px 0px;
}

#navbar h2 {
    font-size: 50px;
}

#navbar header {
    font-size: 50px;
}

@media screen (min-width: 400px){
    background-color: yellow;
}